.menu {
    background-color: rgb(39, 66, 155);
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    text-align: center;
    z-index: 10;
}

.nav-item {
    color:white;
    text-decoration: none;
    display: inline-block;
    padding: 4px 6px;
    margin-top: 10px;
    transition: 1s;
    border-radius: 5px;
}

.nav-item:hover {
    color:rgb(24, 41, 99);
    background-color: rgb(176, 184, 255);
    transition: 1s;
}

.hero{
    margin-top: 65px;
    position: relative;
    height: 500px;
    width: 100%;
}

.hero img {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: brightness(0.5);
    border-radius: 15px;
    border: 2px solid rgb(24, 41, 99);
    object-fit: cover;  /* сохранение пропорций изображения */
    z-index: 1;  /* работа со слоями */
}

.hero-content {
    position: absolute;
    top:30%;
    left: 35%;
    z-index: 2;  /* работа со слоями */
    color: white;
    text-align: center;

}

.text {
    width: 400px;
}

.btn {
    background-color: white;
    color: black;
    font-size : 16px;
    height: 40px;
    width: 400px;
    border-radius: 10px;
    margin-top: 15px;
    transition: 1s;
}


.btn:hover {
    background-color: rgb(176, 184, 255);
    color: rgb(24, 41, 99);
    font-size : 18px;
    height: 45px;
    width: 420px;
    transition: 1s;
}

.sticky-block{
    position: relative;
    background-color: rgb(176, 184, 255);
    border: 2px solid rgb(24, 41, 99);
    border-radius: 15px;
    height: 650px;
    width: 100%;
    margin-top: 15px;
}

.sticky-sphera {
    width: 100px;
    height: 100px;
    background-color: rgb(24, 41, 99);
    border-radius: 50%;
    margin-left: 48%;
    position: sticky;
    top: 50px;
}

.block{
    position: relative;
    background-color: rgb(73, 75, 95);
    border: 2px solid rgb(24, 41, 99);
    border-radius: 15px;
    height: 1000px;
    width: 100%;
    margin-top: 15px;
}

.footer {
    margin-top: 15px;
    width: 100%;
    height: 50px;
    background-color: rgb(24, 41, 99);
    color:white;
    text-align: center;
    padding-top: 10px;
}

.btn-circle {
    background-color: rgb(176, 184, 255);
    border: 2px solid rgb(24, 41, 99);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: fixed;
    bottom: 30px;
    right: 20px;
    transition: 1s;
}


.btn-circle:hover {
    background-color: rgb(24, 41, 99);;
    border: 2px solid rgb(176, 184, 255);
    width: 75px;
    height: 75px;
    transition: 1s;
}



